.wwc-comment {
  position: absolute;
  background: #F7CC7C;
  z-index: 95;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
  padding: 3px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  overflow-wrap: break-word;
}

.wwc-editor {
  position: absolute !important;
  background: #F7CC7C;
  z-index: 99;
  top: 50vh;
  left: 50vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  padding: 3px;
}

#txtComment {
  background: #F7CC7C;
}

.wwc-editor p {
  padding: 6px;
  margin: 0;
}

.wwc-createdAt {
  font-size: 70%;
  text-align: right;
}

#wwc-tick {
  position: relative;
  background: black;
  width: 5px;
  height: 5px;
  top: -3px;
  left: -3px;
}

#wwc-container-btn {
  display: flex;
  justify-content: center;
}

#wwc-container {
  font-family: Verdana;
  color: black;
  font-size: 12px;
}
