.wwc-comment {
  position: absolute;
  background: #F7CC7C;
  color: black;
  z-index: 99;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
}

.wwc-editor {
  position: absolute !important;
  background: #F7CC7C;
  color: black;
  z-index: 99;
  top: 50vh;
  left: 50vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  border-top-left-radius: 0;
  padding: 3px;
}

.wwc-editor p {
  padding: 6px;
  margin: 0;
}

#wwc-tick {
  position: relative;
  background: black;
  width: 5px;
  height: 5px;
  top: -3px;
  left: -3px;
}

#wwc-container-btn {
  display: flex;
  justify-content: center;
}
